{% extends "news/base.html" %}

{% block content %}
    <h1>Logowanie</h1>
    {% if form.errors %}
        <h5>Nieprawidłowa nazwa użytkownika lub hasło</h5>
    {% else %}
        <h5>Wypełnij poniższy formularz</h5>
    {% endif%}
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Zaloguj się"/></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Zapomniałeś hasła</a> </p>

{% endblock %}