body{background: silver}
nav > ul {
    list-style-type: none;
}
nav > ul > li {
    display: inline-table;
    width: 150px;
    height: 26px;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
    border: 2px solid whitesmoke;
}

h6 {
    display: inline-table;
    width: 150px;
    height: 26px;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
    border: 2px solid whitesmoke;
}

